{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "semi": "off",
    "arrow-parens": "off",
    "comma-dangle": "off",
    //"linebreak-style": ["error", "windows"],
    //"linebreak-style": ["error", "unix"], // changes the file to LF
    "object-curly-spacing": "off",
    "require-jsdoc": "off",
    "indent": "off",
    "no-debugger": "off",
    "operator-linebreak": "off",
    "one-var": "off",
    "max-len": "off",
    "space-before-function-paren": "off",
    "guard-for-in": "off",
    "no-prototype-builtins": "off",
    "no-non-null-assertion": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "prefer-const": "off"
  },
  "extends": ["plugin:@typescript-eslint/recommended"]
}
